
<div class="row" id="about">
	<!-- BEGINNING FIRST SECTION -->
		<div class="col-md-8 col-md-offset-2">
		<div class="container text-center circle">
		</div>
		<div class="content">
			<p>I'm a Product Guy living in Southern California with my wife and two dogs. Originally from New York, I moved to California for the sun, the ocean, and oddly enough, computers</p><br> 

			<p>I started my first company - a non-profit - in 2004 and have been fascinated by process of making nothing into something ever since.</p><br>

			<p>I specialize in business strategy, product, and design. I advise, build, and fundraise for small companies. Please reach out if you'd like to
			<%= link_to "work together", "#" %>
		</p>
		</div>
	</div>
</div>
		<!-- END OF FIRST SECTION -->

