// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
}

.box {
	margin: 5px; 
	width: 214px;
}

.box img {
	width: 100%;
}

.actions {
	position: absolute;
	right: 0px;
	background: rgba(255,255,255,0.75);
	opacity: .75;
	padding: 0px 5px;
}

.actions a {
	color: #666666;
}

.actions a:hover {
	color: #333333;
}

.action a.active {

}